*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  border:2px #000 solid;
}

html,body{
  background-color:#f1d1b2;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:100%;
  height:100%;
  margin:0;
  font-size:14px;
  font-family:微軟正黑體;
  font-weight:700;
  z-index: -3;
  
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  margin-top:70px;
}

#panel {
  padding: 50px;
  display: none;
}

@-webkit-keyframes buttonan{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes buttonan{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.button{
  -webkit-animation-name:buttonan;
          animation-name:buttonan;
  -webkit-animation-duration:3s;
          animation-duration:3s;
  -webkit-animation-delay:1s;
          animation-delay:1s;
  -webkit-animation-fill-mode:forwards;
          animation-fill-mode:forwards;
  opacity:0;
  
  
}

.button {
  border-radius: 4px;
  background-color: #785a3c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  height:80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  top:60%;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@-webkit-keyframes typing {
  from { width: 0 }
}

@keyframes typing {
  from { width: 0 }
}

h1 {
  width: 11em;
  color:#785a3c;
  text-align:center;
  border-right: .05em solid;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typing 1s steps(11),
    caret 1s steps(1) infinite;
          animation: typing 1s steps(11),
    caret 1s steps(1) infinite;
  
  z-index:2;
}

h4 {
  width: 13em;
  color:#785a3c;
  text-align:center;
  border-right: .05em solid;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typing 1s steps(11),
    caret 1s steps(1) infinite;
          animation: typing 1s steps(11),
    caret 1s steps(1) infinite;
  
}



@-webkit-keyframes caret {
  50% { border-color: transparent; }
}



@keyframes caret {
  50% { border-color: transparent; }
}